.callToAct{
 background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #910afa), url(../images/2.jpg);
 min-height: 700px;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 border-radius: 20px 60px;
  margin-bottom: 10rem;
}

.callToAct .parallax{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

.callToAct .parallax h3, .callToAct .parallax p{
 color: white;

}

.callToAct .parallax p{
 font-size: 18px;
 padding: 20px 0;
}

.callToAct .parallax .call-news{
 background-color: white;
 max-width: 450px;
 margin: auto;
 border-radius: 50px;
 padding: 12px 0 12px 15px;
 position: relative;
}

.callToAct .parallax .call-news i{
 color: #535cf1;
 padding-right: 10px;
 font-size: 18px;
}

.callToAct .parallax .call-news input{
 border: none;
 outline: none;
 font-size: 18px;
}

.callToAct .parallax .call-news button{
  background-image: linear-gradient(to right, #535cf1, #a147e4);
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 15px 20px;
  cursor: pointer;
  margin-left: 20px;
  border-radius: 50px;
}

