footer{
 background-color: #f4f6f7;
 padding: 7rem;
}

footer .row-one{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

footer .row-one ul{
 display: flex;
 flex-direction: row;
 justify-content: flex-start;
 align-items: center;
}

footer .row-one a{
 padding-right: 20px;
 font-size: 26px;
 color: #6c6c6c;
}

footer .second-row{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 
}

footer .second-row h6{
 font-size: 14px;
 font-weight: 700;
 line-height: 18px;
 color: #6c6c6c;
 padding-bottom: 20px;
}

footer .second-row li a{
 font-size: 16px;
 line-height: 24px;
 font-weight: 500;
 color: #121212;
}

footer .second-row li{
 padding-bottom: 12px;
}

footer .second-row .first-row:nth-child(4){
 max-width: 300px;
}

footer .second-row .newsletter{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 position: relative;
 margin-top: 5px;

}

footer .second-row .newsletter input{
 width: 100%;
 height: 44px;
 border-radius: 20px;
 padding: 0 24px;
 border: 0;
 background-color: rgba(33, 33, 33, 0.12);
 font-weight: 500;
 outline: none;
}

footer .second-row .newsletter input::placeholder{
 opacity: 1;
 color: #6c6c6c;

}

footer .second-row .newsletter button{
 position: absolute;
 top: 0;
 right: 0;
 width: 44px;
 height: 44px;
 border-top-right-radius: 50px;
 border-bottom-right-radius: 50px;
 border: 0;
 font-size: 20px;
 color: #121212;
 cursor: pointer;

}

footer .second-row text{
 margin-top: 16px;
}

.copyright{
 background-color: #2b354f;
 padding: 23px 0;
}

.copyright p{
 text-align: center;
 color: white
}

.copyright p a{
 color: #1abc9c;
}

