.back{
 background-image: url(../images/6.jpg);
 width: 100%;
 height: 100vh;
 background-size: cover;
 background-attachment: fixed;
 position: relative;
}

.overlay{
 background: linear-gradient(180deg,rgba(255, 255, 255, 1) 29%, rgba(255, 255, 255, 0) 100%);
 width: 100%;
 height: 100%;
}

.back .hero-shape{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;

}

.back .hero-shape img{
 width: 100%;
 display: block;
}

.hero-text{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 text-align: center;
}

.hero-text h6{
 color: #1d1d1d;
 font-weight: 400;
}

.hero-text .header-btn{
 margin-top: 22px;

}

.hero-text .header-btn li{
 display: inline-block;
 margin: 10px 10px 0 0;
}

.hero-text .header-btn li a.main-btn{
 border-radius: 50px;
 overflow: hidden;
 background-color: #fff;
 border: 0;
 line-height: 50px;
 box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
}
.hero-text .header-btn li a.main-btn i{
 margin-left: 5px;
 color: #646EE5;
}

.hero-text .header-btn .btn-one{
 color: #fff;
 
}
.hero-text .header-btn .btn-one::before{
 position: absolute;
 content: "";
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-image: linear-gradient(to right, #535CF1, #A147E4);
 z-index: -1;
 transition: all 0.3s ease;
 background-position: right center;
}

.hero-text .header-btn .btn-one:hover::before{
 background-image: linear-gradient(to left, #535CF1, #A147E4);
 background-position: left center;
 transition: 0.5s;
}
.hero-text .header-btn .btn-two:hover{
  box-shadow: 0 3px 25px 0 rgba(0,0,0,0.4);
}