@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Open+Sans:ital,wght@0,700;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Poppins", sans-serif;
  
}

.offset:before{
  display: block;
  height: 10rem;
  margin-top: -2rem;
}


a{
 text-decoration: none;
}

li{
 list-style-type: none;
}

h3{
 font-size: 44px;
 line-height: 55px;
 color: #121212;
 font-weight: 600;
}

h6{
 font-size: 20px;
 line-height: 32px;
 color: #6c6c6c;
 margin-top: 16px;
 font-weight: normal;
}

.main-btn{
 font-weight: 700;
 display: inline-block;
 text-align: center;
 white-space: nowrap;
 vertical-align: middle;
 border: 2px solid transparent;
 padding: 0 32px;
 font-size: 16px;
 line-height: 48px;
 color: #0067f4;
 position: relative;
 cursor: pointer;
 transition: all 0.4s ease-out 0s;
 z-index: 5;
}