.pricing{
 display: block;
 text-align: center;
  margin-bottom: 10rem;

}

.pricing h6{
 margin-bottom: 6rem;
}

.pricing .table{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 gap: 35px;

}

.pricing .basic{
 width: 355px;
 height: 100%;
 border: 1px solid #535cf1;
 border-radius: 20px 60px;
}

.basic h3{
 text-align: center;
 font-weight: 300;
 padding: 40px 0;
 background-color: #ecf0f1;
 transition: all ease 0.6s;
 border-top-right-radius: 60px;
 border-top-left-radius: 20px;
 clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

.basic:hover h3{
 background-image: linear-gradient(to right, #535cf1, #a147e4);
 color: white;
 border: 1px solid #2ecc71;
}

.pricing .unlimited h3{
 background-image: linear-gradient(to right, #535cf1, #a147e4);
 color: white;
} 

.pricing .basic .price{
 display: block;
 text-align: center;
 padding: 20px 0;
}

.pricing .basic .price .currency{
 font-size: 60px;
 font-weight: 300;
 letter-spacing: -2px;
 line-height: 60px;
 padding: 0;
 vertical-align: middle;
}

.pricing .basic .price .cent{
 display: inline-block;
 font-size: 24px;
 font-weight: 400;
 vertical-align: bottom;
}

.pricing .basic .price .sing{
 display: inline-block;
 font-size: 28px;
 font-weight: 400;
 vertical-align: middle;
}

.pricing .basic .price .month{
 font-size: 18px;
 font-weight: 400;
 letter-spacing: 3px;
 vertical-align: bottom;
}

.pricing .basic ul li{
 border-top: 1px solid #ccc;
 padding: 18px 0;
 border-bottom: 1px solid #ccc;
 color: #7f8c8d;
}

.pricing .basic ul li i{
 padding-right: 5px;
 color: #535cf1;

}

.pricing .header-btn{
 display: flex;
 justify-content: center;
 margin: 2rem auto;
 width: 170px;

}

.pricing .header-btn a{
 font-weight: normal;
 font-size: 18px;
 border-radius: 50px;
 outline: medium none;
 border: 1px solid #2ecc71;
 color: #1d1d1d;
}

.pricing .basic:hover .header-btn a{
 background-image: linear-gradient(to right, #535cf1, #a147e4);
 color: white;
 border: 1px solid #2ecc71;
}

.pricing .unlimited .header-btn a {
 background-image: linear-gradient(to right, #535cf1, #a147e4);
 color: white;
 border: 1px solid #2ecc71;
}