@media only screen and (max-width: 946px) {
 .nav{
  padding: 1rem 3rem;
 }

 .nav .navbar-social{
  display: none;
 }
 .hero-text{
 width: 60%;

}
.hero-text h3{
 font-size: 33px;
}
#wrapper{
 margin: 3rem 3rem 10rem 3rem;
}

.service{
 margin-bottom: 3rem;
}
.service h6{
 margin-bottom: 6rem;
}

.service .service-content{
 flex-direction: column-reverse;
 justify-content: center;
}

.service .service-content .box{
 width: 100%;

}
.service .service-content .box .box-one{
 justify-content: center;
 align-items: center;
 text-align: center;
}
.service .service-content .service-img{
 width: 100%;
 margin-bottom: 5rem;
}
.service .service-content .service-img img{
 width: 100%;
}

.pricing .table{
 justify-content: space-evenly;
 flex-wrap: wrap;
}

.pricing .basic{
 margin-bottom: 3rem;
}

.callToAct{
 margin-bottom: 5rem;
}

.callToAct .parallax {
 width: 80%;
}

.contact .form{
 width: 80%;
}


}

@media only screen and (max-width: 774px) {
 .nav{
 padding: 0.7rem 1rem;
}

.nav.scrolled{
 background-color: white;
 transition: background-color 200ms linear;
 box-shadow:  7px 10px 15px rgba(0, 0, 0, 0.5);
}

.nav .navbar-toggler{
 display: block;
 position: absolute;
 top: 26px;
 right: 16px;
 z-index: 100000;
}

.nav .menu-bar .menu-items{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: start;
 text-align: justify;
 padding: 40px 0;
}

.nav .menu-bar{
 position: fixed;
 top: 55px;
 right: -360px;
 width: 200px;
 height: 50vh;
 background-color: rgba(256, 256, 256, 0.92);
 transition: all 0.5s ease;
 border-radius: 10px;
}

.nav .menu-bar .menu-items li{
 margin: 2rem 30px;
}

 .hero-text{
 width: 80%;

}
.hero-text h6{
 font-size: 16px;
}
#wrapper{
 margin: 3rem 1rem 10rem 1rem;
}

.service{
 margin-bottom: 3rem;
}
.service h3{
 font-size: 33px;
}
.service h6{
 font-size: 16px;
}

.service .service-content .service-img{
 width: 80%;
 margin-bottom: 5rem;
}
.service .service-content .service-img img{
 width: 100%;
}
.pricing h3{
 font-size: 33px;
}
.pricing h6{
 font-size: 16px;
}

.pricing .table{
 flex-direction: column;
 justify-content: center;
 flex-wrap: wrap;
}

.pricing .basic{
 margin-bottom: 3rem;
}

.callToAct{
 margin-bottom: 5rem;
}

.callToAct .parallax {
 width: 90%;
}

.callToAct .parallax h3{
 font-size: 33px;
}
.callToAct .parallax h6{
 font-size: 16px;
}

.callToAct .parallax .call-news input a{
 font-size: 16px;
}

.callToAct .parallax .call-news button{
 font-size: 16px;
}

.contact h3{
 font-size: 33px;
}
.contact h6{
 font-size: 16px;
}
.contact .form{
 width: 80%;
}
.contact .form .header-btn a{
 font-size: 16px;
}

footer{
 padding: 4rem 1rem;
}

footer .second-row{
 flex-wrap: wrap;
}

footer .second-row .first-row{
 margin-bottom: 1rem;
}


}

@media only screen and (max-width: 541px) {
 .hero-text h3{
 font-size: 28px;
 line-height: 45px;
}

.hero-text .header-btn li a.main-btn{
 margin-top: 0.7rem;
 font-size: 15px;
}


.service .service-content .box{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;

}
.service .service-content .box .box-one{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-self: flex-start;
 width: 100%;
}

.callToAct .parallax h3{
 font-size: 28px;
 line-height: 45px;
}

.callToAct .parallax .call-news{
 width: 300px;
 height: 55px;
 padding:  12px 0 12px;
 display: block;
 vertical-align: middle;
 align-items: center;
}
.callToAct .parallax .call-news button{
 font-size: 13px;
 position: relative;
 margin: 35px 0 0 0;
 background: white;
 color: #8b16d1;
}
.contact .form{
 width: 100%;
}

.contact .form .first-row, .contact .form .first-row{
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
 align-items: flex-start;
}

.contact .form .first-row{
 margin: 0 0;
}

.contact .form .first-row input, .contact .form .first-row input{
 width: 100%;
 margin-bottom: 2rem;
}
}