#wrapper{
 margin: 5rem 7rem 10rem 7rem;
}

.service{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 margin-bottom: 10rem;
}
.service h6{
 margin-bottom: 6rem;
}

.service .service-content{
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;
}

.service .service-content .box{
 width: 60%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 align-items: center;

}

.service .service-content .service-img{
 width: 40%;
}
.service .service-content .service-img img{
 width: 100%;
}

.service .service-content .box .box-one{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 100%;
}

.service .service-content .box .box-one .services{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 margin-bottom: 2rem;
}

.service .service-content .box .box-one .services i{
 font-size: 3rem;
 margin-bottom: 10px;
 color: #535cf1;
}

.service .service-content .box .box-one .services .service-content{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 text-align: left;
}